" Source your .vimrc
source ~/.vimrc

" IDEA stuff
set ideajoin
set idearefactormode=keep
set ideamarks

let g:mapleader=" "

" Plugins
set NERDTree
set highlightedyank
let g:highlightedyank_highlight_duration = "5000"
let g:highlightedyank_highlight_color = "rgba(57, 62, 65, 255)"
set sneak

" Mapping
map <leader>e <Action>(ActivateProjectToolWindow)

" Search
map <leader>ff <Action>(GotoFile)
map <leader>fg <Action>(HelpDiagnosticTools)
map <leader>ft <Action>(ActivateTODOToolWindow)

" Git
map <leader>gg <Action>(CheckinProject)
map <leader>gp <Action>(Vcs.UpdateProject)
map <leader>gP <Action>(Vcs.Push)
map <leader>gb <Action>(Annotate)

" Debug
map <leader>Db <Action>(ToggleLineBreakpoint)
map <leader>DB <Action>(ToggleLineBreakpoint)
map <F5> <Action>(Debug)
map <F6> <Action>(EvaluateExpression)
map <F10> <Action>(StepOver)
map <F11> <Action>(StepInto)
map <F12> <Action>(StepOut)

" Test
map <leader>ot <Action>(GotoTest)
map <leader>T <Action>(RunClass)

" Completion
map <leader>ot <Action>(GotoCompletion)

" LSP
map gD <Action>(GotoTypeDeclaration)
map gd <Action>(GotoDeclaration)
map gi <Action>(GotoImplementation)
map gr <Action>(GotoDeclaration)
map gb <Action>(Back)
map <leader>rn <Action>(RenameElement)

map <leader>oc <Action>(ReformatCode)
map <leader>oi <Action>(OptimizeImports)
map <leader>oa <Action>(ReformatCode)<Action>(OptimizeImports)

map <C-s> <Action>(ParameterInfo)
map <leader>s <Action>(GotoSymbol)
map <leader>S <Action>(GotoSymbol)

map <leader>a <Action>(ShowIntentionActions)

" Outline
map <leader>O <Action>(FileStructurePopup)

map <leader><leader>T <Action>(VimFindActionIdAction)

map <C-F> <Action>(FindInPath)
imap <C-F> <Action>(FindInPath)
map <C-Z> <Action>(ToggleDistractionFreeMode)
map <C-T> <Action>(ActivateTerminalToolWindow)

" Tabs
map <C-N> <Action>(PreviousTab)
map <C-M> <Action>(NextTab)

" Code generation
map <leader>ii <Action>(ES6.Generate.Index)
map <c-s> :NERDTreeFind<CR>

vmap <S-J> <Action>(MoveLineDown)
vmap <S-K> <Action>(MoveLineUp)

nmap ]b <Action>(GotoNextBookmark)
nmap [b <Action>(GotoPreviousBookmark)

nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [c <Action>(VcsShowPrevChangeMarker)

nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)

map zh <Action>(MoveTabDown)
map zv <Action>(MoveTabRight)
map zs <Action>(MoveEditorToOppositeTabGroup)

map <C-H> <C-W>h
map <C-J> <C-W>j
map <C-K> <C-W>k
map <C-L> <C-W>l

map zo <Action>(MaximizeEditorInSplit)

nnoremap x "_x
vnoremap x "_x

nnoremap d "_d
vnoremap d "_d

nnoremap D "_D
vnoremap D "_D

nnoremap <leader>d ""d
vnoremap <leader>d ""d

nnoremap <leader>D ""D
vnoremap <leader>D ""D

nmap <C-X> <Action>(CloseEditor)
vmap <C-X> <Action>(CloseEditor)

map <C-O> <Action>(Back)
map <C-P> <Action>(Forward)

map <C-U> <C-U> zz
map <C-D> <C-D> zz
